<div class="header-container">
  <header class="topbar">
    <div class="brand">
      <div class="logo">
        <img src="/images/logoo.jpg" alt="Algorithmistic">
      </div>

      <nav class="nav">
        <a href="/"><b>Home</b></a>

        <a href="/#why-section"><b>Features</b></a>
        <a href="/#how-section"><b>How it Works</b></a>
        <a href="/#categories-section"><b>Trending</b></a>
        <a href="/#footer"><b>About Us</b></a>

        
        <a class="btn small" href="/login"><b>Get Started</b></a>
      </nav>

    </div>
  </header>
  <hr class="headerline">
</div>
